.vs/
.vscode/
.gemini/
.claude/

[B|b]inaries/
[B|b]uild/
[C|c]ache/
[I|i]ntermediate/

/packages/
riderModule.iml
/_ReSharper.Caches/

*.log
*.user
imgui.ini
GEMINI.md
CLAUDE.md

CMakeUserPresets.json
