[submodule "ThirdParty/ImGui"]
	path = ThirdParty/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/utfcpp"]
	path = ThirdParty/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "ThirdParty/tomlplusplus"]
	path = ThirdParty/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "ThirdParty/doctest"]
	path = ThirdParty/doctest
	url = https://github.com/doctest/doctest.git
