{
    "version": 6,
    "cmakeMinimumRequired": { "major": 3, "minor": 28, "patch": 0 },

    "configurePresets": [
        {
            "name": "_local-vcpkg",
            "hidden": true,
            "cacheVariables": {
                "CMAKE_TOOLCHAIN_FILE": "C:/path/to/vcpkg/scripts/buildsystems/vcpkg.cmake"
            }
        },

        { "name": "local-debug-msvc",        "inherits": ["debug-msvc",        "_local-vcpkg"] },
        { "name": "local-development-msvc",  "inherits": ["development-msvc",  "_local-vcpkg"] },
        { "name": "local-release-msvc",      "inherits": ["release-msvc",      "_local-vcpkg"] },
        { "name": "local-debug-clang-cl",    "inherits": ["debug-clang-cl",    "_local-vcpkg"] },
        { "name": "local-release-clang-cl",  "inherits": ["release-clang-cl",  "_local-vcpkg"] },
        { "name": "local-debug-gcc",         "inherits": ["debug-gcc",         "_local-vcpkg"] },
        { "name": "local-development-gcc",   "inherits": ["development-gcc",   "_local-vcpkg"] },
        { "name": "local-release-gcc",       "inherits": ["release-gcc",       "_local-vcpkg"] },
        { "name": "local-debug-clang",       "inherits": ["debug-clang",       "_local-vcpkg"] },
        { "name": "local-development-clang", "inherits": ["development-clang", "_local-vcpkg"] },
        { "name": "local-release-clang",     "inherits": ["release-clang",     "_local-vcpkg"] }
    ]
}
